body, html {
    height: 100%;
    width:100%;
    margin: 0;
    padding:0;
    background-color: #202020;
}

.inset2 {
    clip-path: inset(1% 10% 10% 1% round 20px);
}

.bg{
    position:relative;
    height:100%;
    background-position: top left;
    background-image: url(ibm.jpg);
    background-size: 100% auto;
    background-attachment: fixed;
    background-repeat:no-repeat;
    height: 0;
    padding-top: 80%; 
}

.el{
    width:65%;
    height:60%;
    position:absolute;
    top:0; left:0;
    padding-top: 5%;
    padding-left: 5%;
    margin-left:21%;
    margin-top:12%;
    transform-origin:100% 100%;
    /* transform: rotate(22deg); */
}

#shell {
    font-size: 1rem;
    background-color: #202020;
    color: green;
    text-shadow: 0 0 0.2em green;
    font-family: 'Courier New', 'monospace';

}